@model OrderVM
<form method="post">
    <input hidden asp-for="Order.OrderId" />
    <div class="card text-center shadow">
        <div class="row m-3 px-4">
            <div class="col-12 bg-primary rounded py-2 my-3">
                <p class="card-title text-white text-start">Order Information:</p>
            </div>

            <div class="col-6">
                <div class="text-start fw-bold">Order Information:</div>
                <div class="form-floating mb-1">
                    <input asp-for="Order.CustomerName" class="form-control" aria-required="true" placeholder="Name" />
                    <label asp-for="Order.CustomerName">Customer Name</label>
                    <span asp-validation-for="Order.CustomerName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-1">
                    <input asp-for="Order.StreetAddress" class="form-control" aria-required="true" placeholder="Street Address" />
                    <label asp-for="Order.StreetAddress">Street Address</label>
                    <span asp-validation-for="Order.StreetAddress" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Order.City" class="form-control" aria-required="true" placeholder="City" />
                    <label asp-for="Order.City">City</label>
                    <span asp-validation-for="Order.City" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Order.State" class="form-control" aria-required="true" placeholder="State" />
                    <label asp-for="Order.State">State</label>
                    <span asp-validation-for="Order.State" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Order.PostalCode" class="form-control" aria-required="true" placeholder="Postal Code" />
                    <label asp-for="Order.PostalCode">Postal Code</label>
                    <span asp-validation-for="Order.PostalCode" class="text-danger"></span>
                </div>
                <div class="form-floating mb-1">
                    <input asp-for="Order.Phone" class="form-control" aria-required="true" placeholder="Phone Number" />
                    <label asp-for="Order.Phone">Phone Number</label>
                    <span asp-validation-for="Order.Phone" class="text-danger"></span>
                </div>
                <div class="form-floating mb-1">
                    <input asp-for="Order.OrderStatus" class="form-control" aria-required="true" placeholder="Order Status" />
                    <label asp-for="Order.OrderStatus">Order Status</label>
                    <span asp-validation-for="Order.OrderStatus" class="text-danger"></span>
                </div>
                <div class="form-floating mb-1">
                    <input asp-for="Order.PaymentStatus" class="form-control" aria-required="true" placeholder="Payment Status" />
                    <label asp-for="Order.PaymentStatus">Payment Status</label>
                    <span asp-validation-for="Order.PaymentStatus" the="text-danger"></span>
                </div>
                <div class="form-floating mb-1">
                    <input asp-for="Order.OrderDate" class="form-control" aria-required="true" placeholder="Order Date" />
                    <label asp-for="Order.OrderDate">Order Date</label>
                    <span asp-validation-for="Order.OrderDate" class="text-danger"></span>
                </div>
                <div class="form-floating mb-1">
                    <input asp-for="Order.Carrier" class="form-control" aria-required="true" placeholder="Carrier" />
                    <label asp-for="Order.Carrier">Carrier</label>
                    <span asp-validation-for="Order.Carrier" class="text-danger"></span>
                </div>
                <div class="form-floating mb-1">
                    <input asp-for="Order.TrackingNumber" class="form-control" aria-required="true" placeholder="Tracking Number" />
                    <label asp-for="Order.TrackingNumber">Tracking Number</label>
                    <span asp-validation-for="Order.TrackingNumber" class="text-danger"></span>
                </div>
                <div class="form-floating mb-1">
                    <input asp-for="Order.ShippingDate" class="form-control" aria-required="true" placeholder="Shipping Date" />
                    <label asp-for="Order.ShippingDate">Shipping Date</label>
                    <span asp-validation-for="Order.ShippingDate" class="text-danger"></span>
                </div>
                <div class="my-4">
                    <button asp-action="UpdateOrderInformation" type="submit" class="btn btn-warning form-control">Update Order Information</button>
                </div>
            </div>

            <div class="col-6">
                <div class="text-start fw-bold">Order Details:</div>
                <div class="border rounded">
                    @foreach (var item in Model.OrderDetails)
                    {
                        <div class="row border-bottom my-4">
                            <div class="col-6">
                                <h5>@item.Book.BookTitle</h5>
                            </div>
                            <div class="col-3">
                                <h6>@item.Book.Price.ToString("c") &nbsp; x &nbsp;@item.Quantity</h6>
                            </div>
                            <div class="col-3">
                                <p class="mb-0">Subtotal:</p>
                                <p class="ms-2 mb-0">@((item.Price * item.Quantity).ToString("c"))</p>
                            </div>
                        </div>
                    }
                </div>
                <div class="card-footer bg-black text-white col-12 text-end">
                    Order total: @Model.Order.OrderTotal.ToString("c")
                </div>
                @if(Model.Order.OrderStatus == "Pending")
                {
                     <div class="my-5">
                    <button type="submit" asp-action="ProcessOrder" class="btn btn-primary form-control">Process Order</button>
                    </div>
                }
                else
                {
                    <div class="my-5">
                        <button type="submit" disabled asp-action="ProcessOrder" class="btn btn-primary form-control">Process Order</button>
                    </div>
                }

                @if (Model.Order.OrderStatus == "Processing")
                {
                    <div class="my-5">
                        <button type="submit" asp-action="CompleteOrder" class="btn btn-primary form-control">Complete Order</button>
                    </div>
                }
                else
                {
                    <div class="my-5">
                        <button type="submit" disabled asp-action="CompleteOrder" class="btn btn-primary form-control">Complete Order</button>
                    </div>
                }

            </div>
        </div>
    </div>
</form>
