@model Microsoft.AspNetCore.Identity.IdentityUserRole<string>


<h1>Edit a user's role</h1>

<div class="col-md-10">
    <form asp-action="EditUserRole">

        <input asp-for="UserId" type="hidden" />

        <div class="form-group p-2">
            <label class="control-label">User Email</label>
           @* <input asp-for="@ViewBag.UserInfo.Email" class="form-control" />*@
            <br />


            <label class="control-label">Role</label>
            <select asp-for="RoleId" class="form-control" asp-items="ViewBag.ListOfRoles" asp-items-selected ="Id">

                <option disabled selected>Select a Role</option>
            </select>
            <br />
        </div>
        <div class="form-group p-2">
            <input type="submit" class="btn btn-outline-primary col-md-12" />
        </div>
    </form>
</div>

