@model Book

<h1>Create Book</h1>



<div class="col-md-10">
    <form asp-action="Create"> 

        <div class="form-group m-4">
            <label asp-for="BookTitle" class="control-label"></label>
            <input asp-for="BookTitle" class="form-control" />
            <span asp-validation-for="BookTitle" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Author" class="control-label"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CategoryId" class="control-label"></label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.ListOfCategories">
                <option disabled selected>Select a Category</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <!-- Assuming ImgURL is the correct property for the Book model to hold the image URL -->
            <label asp-for="ImgURL" class="control-label"></label>
            <input type="file" name "imgFile"asp-for="ImgURL" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" value="Add New Book" class="form-control btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}











</div>
